#graddient{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-image: url("../../img/evening.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(131, 3, 149);
}